PAUSER_SET_ETHEREUM="0xbBfE1680b4a63ED05f7F80CE330BED7C992A586C"
PAUSER_SET_GATEWAY="0x571ecb596fCc5c840DA35CbeCA175580db50ac1b"
RPC_ETHEREUM="https://ethereum-rpc.publicnode.com"
RPC_GATEWAY="https://rpc.mainnet.zama.org"
RPC_BSC="https://bsc-dataseed.bnbchain.org"
RPC_HYPEREVM="https://rpc.hyperliquid.xyz/evm"

ZAMA_TOKEN_ERC20_ETHEREUM="0xA12CC123ba206d4031D1c7f6223D1C2Ec249f4f3"
ZAMA_OFT_ADAPTER_ETHEREUM="0xa798B04149e7a61cc95B7D114AD420e8969eA268"
ZAMA_OFT_GATEWAY="0xcE762c7FDaac795D31a266B9247F8958c159c6d4"
ZAMA_OFT_BSC="0x6907A5986C4950Bdaf2F81828Ec0737ce787519f"
ZAMA_OFT_HYPEREVM="0x43cdd2cCbeB38Eb62fDf54e17aFBabf450ebBB01"

# get-multisig-info.js — Gnosis Safe multisigs & Aragon DAO (mainnet)
ZAMA_SAFE_GATEWAY="0x5f0F86BcEad6976711C9B131bCa5D30E767fe2bE"
ZAMA_SAFE_ADMIN_MODULE_GATEWAY="0x57f866b5E7Fb82Fb812Ed3D3C79cdB35E9e91518"
ZAMA_SAFE_BSC="0xa40939fDe3883D2e7Cd5C32f53AB241804d2779B"
ZAMA_SAFE_HYPEREVM="0x0d66642a5Bc6E32e013f47E08f9db9bDb1268827"
ZAMA_ARAGON_DAO="0xB6D69D5F334d8B97B194617B53c6aB62f8681Ef3"

# Solana
SOLANA_RPC_URL="https://api.mainnet-beta.solana.com"
SOLANA_OFT_MINT="4Zp52aF4hZi9fzH19xpbWKYKQvgLyCN67KFbrQDqeTKh"
# Squads Multisig account for G9jXsKZ2XXfNEks2dmouKiJJFBWcn8SQHmMkcy3TUVf5
SOLANA_SQUADS_MULTISIG_ACCOUNT="HB3boZwyCUmjCo2uPWfVS2WKYmdgGv2XVpRgUaX5CkxC"
