# Authentication (use one of these)
MNEMONIC=
PRIVATE_KEY=

# RPC URLs
MAINNET_RPC_URL=
SEPOLIA_RPC_URL=

# Explorer verification
ETHERSCAN_API_KEY=

# Native token deployment parameters
OWNER_ADDRESS=
TOKEN_NAME="Confidential Token"
TOKEN_SYMBOL="cTOKEN"
TOKEN_CONTRACT_URI='data:application/json;utf8,{"name":"Confidential Token","symbol":"cTOKEN","description":"Native confidential token"}'
