# At least one of PRIVATE_KEY or MNEMONIC must be set.
# PRIVATE_KEY takes precedence if both are provided.
PRIVATE_KEY=
MNEMONIC=
MAINNET_ETHEREUM_RPC_URL=
TESTNET_ETHEREUM_RPC_URL=
ETHERSCAN_API_KEY=